# Created by http://gitignore.io

### Linux ###
.*
!.gitignore
!.git*
*~


### C++ ###
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

### CMake ###
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CMakeFiles.txt.user*

